<div class="row">
  <h1 style="text-align: center">Welcome to the Task App</h1>
  <aside class="span9">

    <section>
      <section>
        <%= render 'create_task' %>
      </section>

      <section>
        <%= render 'tasks_header' %>
        <%= render 'open_tasks' %>
      </section>
    </section>
  </aside>
</div>